/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

li {
  list-style-type: none;
}

hr {
  margin: 0.75rem 0;
}

textarea {
  min-height: 30dvh;
  max-height: 50dvh;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}